html {
  font-size: 18px;
}

body {
  background: #4b4b4b;
  font-family: 'Sintony', sans-serif;
  color: #000;
}

strong {
  font-weight: bold;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.9rem;
  font-weight: bold;
}
h2{
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1.4rem 0;
}
h3{
  font-weight: bold;
}
h4{
  margin: 1.5rem 0;
  font-size: 1rem;
  font-weight: bold;
}



/* layout classes */
.container {
  max-width: 1000px;
  margin: auto;
}
.flex {
  display: flex;
}
.left {
  width: 60%;
  padding: 2rem 1.33rem;
}
.right {
  width: 40%;
  padding: 2rem 0;
  margin: 0 1.22rem;
}
.left img {
  width: 100%;
}

/* mobile sections */
#mobile-header, .mobile {
  display: none;
}


/* header section */
header {
  background: #fff;
}
header .flex {
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0px 24px;
}
header img {
  height: 32px;
}
.brand {
  align-items: center;
}
#name {
  text-transform: uppercase;
  font-weight: 100;
  align-self: center;
}
nav li {
  display: inline-block;
  padding: 0 12px;
  font-size: 0.9rem;
}
nav a {
  text-decoration: none;
  color: #000;
}
nav a:hover {
  text-decoration: underline;
}
nav a:active {
  color: #bbb;
}

/* banner section */
.banner {
  background: #ccc;
  margin: 0 auto;
}
.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}
.button {
  background-color: #737373;
  color: #fff;
  text-align: center;
  padding: 0.5rem;
  text-decoration: none;
}
.button:hover {
  background-color: #333;
}

/* info section */
.info {
  background: #f2f2f2;
  margin: auto;
}
.quote {
  font-size: 0.75rem;
  line-height: 1rem;
  padding-bottom: 1.4rem;
}
.quote-name {
  font-family: 'Poppins';
  font-size: 0.7rem;
}
.info .right {
  border-left: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.box {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.box img {
  width: 35%;
  padding: 15px 0 15px 15px;
}
#middle {
  border-top: 3px solid #ccc;
  border-bottom: 3px solid #ccc;
}
.info-content {
  flex-direction: column;
  padding: 15px;
}
.desc {
  font-size: 0.7rem;
  line-height: 1rem;
  padding: 0.75rem 0;
}
.info-link {
  font-size: 0.7rem;
  text-decoration: none;
  color: #69f;
}
.box:hover {
  background: #ccc;
}
.info-link:hover {
  text-decoration: underline;
  color: #05f;
}




@media only screen and (max-width:800px) {
  .container {
    width: 100%;
  }

  #desktop-header, .info .left {
    display: none;
  }

  #mobile-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 64px;
    padding: 0;
  }
  #banner-column {
    flex-direction: column;
    align-items: center;
  }
  #banner-column .left {
    width: 100%;
    padding: 0;
  }
  #banner-column .right {
    width: 100%;
    padding: 1rem 0;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
