html {
  font-size: 18px;
}

body {
  background: #fff;
  font-family: 'Sintony', sans-serif;
  color: #000;
}

strong {
  font-weight: bold;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.9rem;
  font-weight: bold;
}
h2{
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1.4rem 0;
}
h3{
  font-weight: bold;
}
h4{
  margin: 1.5rem 0;
  font-size: 1rem;
  font-weight: bold;
}



/* layout classes */
.container {
  max-width: 1000px;
  margin: auto;
}
.flex {
  display: flex;
}
.left {
  width: 60%;
  padding: 2rem 1.33rem;
}
.right {
  width: 40%;
  padding: 2rem 0;
  margin: 0 1.22rem;
}
.left img, .left video {
  width: 100%;
}

/* mobile sections */
#mobile-header, .mobile, #mobile-courses {
  display: none;
}


/* header section */
header {
  background: #fff;
}
header .flex {
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0px 24px;
}
header img {
  height: 32px;
  color: #006181;
}
.brand {
  align-items: center;
}
#name {
  text-transform: uppercase;
  font-weight: 100;
  align-self: center;
}
nav li {
  display: inline-block;
  padding: 0 12px;
  font-size: 0.9rem;
}
nav a {
  text-decoration: none;
  color: #000;
}
nav a:hover {
  text-decoration: underline;
}
nav a:active {
  color: #bbb;
}

/* banner section */
.banner {
  background: #004d66;
  margin: 0 auto;
  color: #fff;
}
.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}
.button {
  background-color: #FF8300;
  color: #fff;
  text-align: center;
  padding: 0.5rem;
  text-decoration: none;
  transition: background-color 0.3s linear;
}
.button:hover {
  background-color: #ffa94d;
}

/* info section */
.info {
  background: #d9d9d9;
  margin: auto;
}
.quote {
  font-size: 0.75rem;
  line-height: 1rem;
  padding-bottom: 1.4rem;
}
.quote-name {
  font-family: 'Poppins';
  font-size: 0.7rem;
}
.info .right {
  border-left: 1px solid #004d66;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.box {
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.box img {
  width: 35%;
  padding: 15px 0 15px 15px;
}
#middle {
  border-top: 3px solid #004d66;
  border-bottom: 3px solid #004d66;
}
.info-content {
  flex-direction: column;
  padding: 15px;
}
.desc {
  font-size: 0.7rem;
  line-height: 1rem;
  padding: 0.75rem 0;
}
.info-link {
  font-size: 0.7rem;
  text-decoration: none;
  color: #FF8300;
}
.box:hover {
  background: #004d66;
  color: #fff;
}
.info-link:hover {
  color: #ffa94d;
}

/* courses section */
.courses {
  background: #ccc;
  margin: auto;
  padding: 1rem 0;
}
.courses h2 {
  text-align: center;
}
#desktop-courses {
  flex-wrap: wrap;
  justify-content: center;
}
.subject {
  margin: 1rem;
  width: 25%;
  min-width: 14rem;
}
.subject img {
  width: 100%;
}
.course-text {
  padding: 0.8rem;
  background: #006181;
  color: #bfbfbf;
  height: 7rem;
}
.course-text:hover {
  background-color: #A35400;
  cursor: pointer;
}
.course-text h3 {
  color: #fff;
}
.sub {
  padding: 1rem 0 0.5rem 0;
  font-size: 0.75rem;
}
.titles {
  font-size: 0.75rem;
  line-height: 1rem;
}

/* thesis section */
.exhibit {
  background: #d9d9d9;
  margin: auto;
  padding: 1rem;
}
.exhibit h2 {
  text-align: center;
  padding: 1.7rem 0;
}
.exhibit h3 {
  padding: 1rem 0;
}
.exhibit .left {
  background: #006181;
  color: #bfbfbf;
  padding-bottom: 1rem;
}
.exhibit .right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.exhibit .left, .exhibit .right {
  padding-top: 1rem;
}

/* footer */
footer {
  border-top: 2px solid #ddd;
  font-size: 0.8rem;
  color: #999;
}
#foot {
  justify-content: space-between;
  padding: 1.5rem;
}
footer a{
  text-decoration: none;
  color: #999
}
footer a:hover {
  text-decoration: underline;
}


/* mobile layout */
@media only screen and (max-width:800px) {
  .container {
    width: 100%;
  }

  #desktop-header, .info .left, .desktop, #desktop-courses, #video-desc, #desk-footer, .exhibit .right {
    display: none;
  }

  #mobile-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 64px;
    padding: 0;
  }
  #banner-column, .right .box {
    flex-direction: column;
    align-items: center;
  }
  #banner-column .left, .box img, .exhibit .left {
    width: 100%;
    padding: 0;
  }
  #banner-column .right {
    width: 100%;
    padding: 1rem 0;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .info .right {
    width: 100%;
    border: 0;
  }
  .mobile {
    display: block;
  }
  .info-content {
    width: 100%;
  }
  #mobile-courses {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 2rem;
  }
  .subjectm {
    background: #004d66;
    color: #bfbfbf;
    font-weight: bold;
    margin: 0.2rem 0.5rem;
    overflow: hidden;
    height: 2.6rem;
    -webkit-transition: height 0.5s linear;
    -moz-transition: height 0.5s linear;
    transition: height 0.5s linear;
  }
  footer {
    padding-top: 1rem;
  }
  #foot {
    width: 80%;
    font-size: 0.5rem;
  }

  .subjectm:hover {
    height: 7rem;
  }
  .subject-title{
    display: block;
    padding: 0.8rem;
  }
  .subjecth {
    background: #f2f2f2;
    color: #1a1a1a;
    padding: 0.8rem;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
  }
}
